
*{
    margin: 0;
    padding: 0;
    font-family: "Silkscreen", sans-serif;
    font-style: normal;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
.container{
    text-align: center;
}
.contents{
    display: flex;
    color: white;
}
.intro{
    width: 50%;
    text-align: left;
    padding: 30px;
}
.options{
    justify-content: center;
    width: 50%;
    margin: 10px;
    padding: 30px;
}

.options a{
    padding: 30px;
}

.first_content{
    height: 20rem;
    display: flex;
}

.picture{
    width: 50%;
    justify-content: center;
    text-align: center;
    background-color: aqua;
    padding: 20px;
    margin: auto;
}

.pic_container img{
    border: solid rgb(131, 130, 147);
    border-radius: 50%;
    width: 14rem;
    height: 16rem;
}

.contain{
    justify-content: center;
    margin: auto;
    width: 50%;
}

.small_greetings{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin: 40px;
    display: inline-block;
    
    
}

.small_greetings h3{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-left: 20px;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background-color: rgb(16, 9, 71);
    color: black;
    text-align: center;
    border-radius: 5px;
 }
 .footer li{
    display: inline-block;
    margin: 50px 20px 20px 20px;
 }