@keyframes typing {
  from { width: 0; }
  to { width: 33ch; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: rgb(122, 81, 81); }
}
body{
    background-color: #F3F4F4;
    margin: 0;
    padding: 0;
}
.container-fluid-top{
    padding: 5%;
    background-color: #000000;
}
.name-intro{
    border-radius: 10px;
    text-align: left;
    padding: 5%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.name-intro h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    font-style: normal;
}
.name-intro h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    border-right: .15em solid rgb(255, 255, 255);
    
    width: 33ch; 
    
    white-space: nowrap;
    overflow: hidden;
    
    animation: 
        typing 1.5s steps(33, end), 
        blink-caret .5s step-end infinite alternate;
}
.my_picture{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
    
}

.about-me-container {
    height: 50vh;
    padding: 5% 20% 2% 20%;
    align-items: center;
    text-align: center;
}
.about-me-container h1{
    font-family: "Audiowide", sans-serif;
}

.skills-container{
    text-align: center;
    padding: 1% 5% 5% 5%;
    align-items: center;
}
.skills-container h1{
        font-family: "Audiowide", sans-serif;
}
.skills-container img{
    width: 5em;
    height: 3em;
    margin: 1rem;
}
.card {
    display: flex;          /* Enables Flexbox */
    flex-direction: column; /* Stacks elements vertically */
    justify-content: center;/* Centers items vertically (if there is extra height) */
    align-items: center;    /* Centers items horizontally */
    
    background-color: #F3F4F4;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;
    height: 70%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card img {
    max-width: 45%;       /* Keeps the image within the card bounds */
    height: auto;
}

.my-projects-container h1{
    font-family: "Audiowide", sans-serif;
    text-align: center;

}

@media  (max-width: 768px) {
    .col-lg img{
        width: 70%;
        height: auto;
    }
    .about-me-container{
        padding: 5% 10% 10% 10%;
    }
}